
.up-box{
  height: 150px;
  width: 100%;
  background-color: white;
  margin: 50px 75px;
}

.first-text{

}
.text{
  color: black;
  font-size: 25px;
  margin: 40px;
}
.text2{
  color: black;
  font-size: 23px;
  ;
}
.welcome{
  font-size: 25px;
  float: right;
  margin-right: 60px;

}
.all-pics{
  width: 100%;
  height: 550px;
  margin-left: 150px;

}
.pics img{
  height: 180px;
  width: 180px;
  float: left;
  padding: 15px 35px;


}

footer{
  position: absolute;;
  bottom: 0px;
}
.imagine{
  text-align: left;
  font-size: 26px;
  margin-left: 30px;
  margin-top: 50px;
}
.terms{
  text-align: center;
  font-size: 26px;
}







}
